<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyshare">

    <application
        android:allowBackup="true"
        android:label="StudyShare"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".ui.ModeratorActivity"/>
        <activity android:name=".ui.MaterialDetailsActivity"/>
        <activity android:name=".ui.UploadMaterialActivity"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.RegisterActivity"/>
        <activity android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
